/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;

}

.text-primay {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    /* text-align: center; */
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 70px;
    padding: 15px 35px;
}

.section-title {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #181818
    /* padding: 130px 500px 30px 500px; */
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav related styles */


nav>ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: opx 500px opx 200px;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    padding-left: 150px;
}

/* header related style */
header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    /* background-image: no-repeat; */
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 0px 0px 130px 0px;
    padding: 10px;

    /* object-fit: contain; */

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
}

.profile-picture {
    width: 550px;
    align-items: center;
    padding-right: 38px;
    padding-bottom: 0px;
}

.bannar-greeting {
    margin-bottom: 0px;
    font-size: 45px;

}

.bannar-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-description {
    margin-bottom: 30px;
}

/* Main section styles */

main{
    width: 1140px;
    margin: 0px auto
}
main section{
    margin-top: 130px;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}

.section-descrption {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
#what-I-do-description{
    padding: 30px 150px;
    color: #757575;
    font-size: 18px;
}
/* what  I do related style */

.skills-container{
    display: flex;

}
.skills{
    padding: 30px;
    gap: 24px;
}
.skills-description{
    color: #757575;
}
/* Resume section styles */
.resume-column{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-column-title{
    
}
