/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;

}
.text-primay {
    color: #FD6E0A;
}
.btn-primary {
border-radius: 5px;
/* text-align: center; */
background-color: #FD6E0A;
border: 0;
font-size: 20px;
color: white;
font-weight: 70px;
padding: 15px 35px;
}
/* nav related styles */
nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

/* nav related styles */


nav > ul {
    display: flex;
    align-items: center;
    /* text-decoration: none; */
    margin: opx 200px  ;
}
nav li {
list-style: none;
margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.nav-title{
    color: #181818;
    font-size: 45px;    
    font-weight: 800;

}
/* header related style */
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-image: no-repeat;
    background-position: bottom-right;
}
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
}
.profile-picture{
    width: 550px;
    align-items: center;
}
.bannar-greeting{
margin-bottom: 0px;
}
.bannar-title{

}
.banner-description{
    
}